/* Cores */
.white {
	color: white;
}

.soft {
	color: #777;
}

.italic {
	font-style: italic;
}

.logo-header  {  
  margin: 0px !important;
}

.jumbotron , .searchstart{
	margin: 60px 0;
	text-align: center;
}
.jumbotron h1 {
	font-size: 72px;
	line-height: 1;
}
.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

.text-justify {
	text-align: justify;
}

.label-tag {
	background-color: #dbe4ee;
	color: #3a587d !important;
}

ul.unstyled {
	margin-left: 0;
	list-style: none;
}

/* javascript do rating */
div.bigstars div.rateit-range
{
	
    background: url(#{resource['default:img/star-white32.png']});
    height: 32px;
}
 
div.bigstars div.rateit-hover
{
	
    background: url(#{resource['default:img/star-gold32.png']});
}
 
div.bigstars div.rateit-selected
{	
    background: url(#{resource['default:img/star-red32.png']});
}
 
div.bigstars div.rateit-reset
{	
    background: url(#{resource['default:img/star-black32.png']});
    width: 32px;
    height: 32px;
}
 
div.bigstars div.rateit-reset:hover
{	
    background: url(#{resource['default:img/star-white32.png']});
}

/* Fixando colunas de tabelas no bootstrap
------------------------------------------------- */
.table-responsive>.fixed-column {
    position: fixed;
    display: inline-block;
    width: auto;
    border-right: 1px solid #ddd;
}
@media(min-width:768px) {
    .table-responsive>.fixed-column {
        display: none;
    }
}

/* CSS da barra de projetos selecionados
-------------------------------------------------- */
.comparable-selected-items {
	background-color: #08c;
	color: #fff;
	padding: 10px 20px;
	box-shadow: 0 5px 0 #666;
	-webkit-box-shadow: 0 5px 0 #666;
	min-height: 3.5em;
}

.project-selectable {
	padding: 6px 4px 6px 10px; 
	margin: 0; 
	border-radius: 0 4px 0 0; 
	-webkit-border-radius: 0 4px 0 0;
}

.project-selectable.project-selected {
	background-color: #08c;
	color: #fff;	
}

.project-selectable.project-unselected {
	background-color: #dbe4ee; 	
}

/* Configuração do "versus" nas reviews
-------------------------------------------------- */
td.versus {
	background: url(#{resource['default:img/tile-blue-bg.gif']});
}


/* Centralizando componente pagination
-------------------------------------------------- */
.pagination-center {
	text-align: center;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}


/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 0 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

/* Customizações do carousel
------------------------------------------------------- */

#carousel-promotiona {
	background-color: rgb(238, 238, 238);
}

/* Botõezinhos redondos (indicadores) */
#carousel-promotional .carousel-indicators li {
	border-color: #000;
}

#carousel-promotional .carousel-indicators .active {
	background-color: #000;
}

#carousel-promotional .carousel-inner .carousel-caption {
	color: #333333;
}

/* Controles */
#carousel-promotional a.carousel-control.left,
#carousel-promotional a.carousel-control.right {
	color: #000; background-image: none;
}
